:root {
  background-color: #213448;
  scrollbar-width: none;
  overflow: auto;
}
* {
  font-family: "Silkscreen";
}

h1 {
  text-align: center;
  color: #94B4C1;
  margin-bottom: 20px;
}

.navbar-footer {
  position: relative;
}

.navbar-footer {
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.navbar-footer p a {
  color: #94B4C1;
}

/* ANIMATION DU USERNAME */

@keyframes colorChange {
  0% {
    color: firebrick;
  }
  25% {
    color: coral;
  }
  50% {
    color: greenyellow;
  }
  75% {
    color: lightgreen;
  }
  100% {
    color: cornflowerblue;
  }
}

h1 a {
  animation: colorChange 5s infinite alternate;
}